@import "../Color/Color";
@import "../Type/Type";

/*
    Variables
 */

$button-background: $axa-color-axa-blue !default;
$button-hover-background: $axa-color-deep-sapphire !default;

$button-alt-background: $axa-color-burnt-sienna !default;
$button-alt-hover-background: $axa-color-flamingo !default;

$button-text-color: $axa-color-white !default;

$button-negative-color: $axa-color-white !default;

$button-small-height: 30px !default;
$button-medium-height: 40px !default;
$button-large-height: 50px !default;

$button-medium-icon-size: 16px !default;
$button-large-icon-size: 20px !default;

$button-icon-spacing: 20px !default;

$button-line-height: 1.5 !default;

$button-padding-h: 20px !default;
$button-small-padding-v: ($button-small-height - (16px * $button-line-height)) / 2 !default;
$button-medium-padding-v: ($button-medium-height - (16px * $button-line-height)) / 2 !default;
$button-large-padding-v: ($button-large-height - (16px * $button-line-height)) / 2 !default;


/* ------------------------------------------------------------------------------------------------------------------ */


/*
    Styles
 */

@keyframes animate-arrow-right {
    0% {
        transform: translate(0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 1;
    }

    50% {
        transform: translate(10px, 0) scale(1.3, 1);
        transform: translate3d(10px, 0, 0) scale(1.3, 1);
        opacity: 0;
    }

    51% {
        transform: translate(-10px, 0) scale(1.3, 1);
        transform: translate3d(-10px, 0, 0) scale(1.3, 1);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
        opacity: 1;
    }
}

@mixin button-styles {
    .btn {
        @include typo-16;
        letter-spacing: 0.08em;
        display: inline-flex;
        align-items: center;
        font-size: 1rem;
        text-transform: uppercase;
        line-height: $button-line-height;
        background: $button-background;
        color: $button-text-color;
        padding: $button-medium-padding-v $button-padding-h;
        text-decoration: none;
        border: 1px solid $button-background;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        border-radius: 0;
        vertical-align: middle;
        z-index: 0;
        margin-bottom: 10px;

        &:focus {
            outline: 1px dotted;
            outline: 3px auto -webkit-focus-ring-color;
        }

        &:after {
            content: "";
            position: absolute;
            height: 100%;
            width: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) skew(-30deg);
            background: $button-hover-background;
            transition: all .3s;
            z-index: -1;
            opacity: 0;
        }

        &:hover, &:focus {
            color: $button-text-color;
            text-decoration: none;

            &:after {
                width: calc(100% + 2rem);
                opacity: 1;
            }
        }
    }

    .btn--small {
        padding: $button-small-padding-v $button-padding-h;
    }

    .btn--large {
        padding: $button-large-padding-v $button-padding-h;
    }

    .btn--warn {
        background: $button-alt-background;
        border-color: $button-alt-background;

        &:after {
            background: $button-alt-hover-background;
        }
    }

    .btn--ghost {
        background: transparent;
        color: $button-background;
        box-shadow: inset 0 0 0 1px $button-background;

        &:hover {
            color: $button-text-color;
        }
    }

    .btn--neg {
        background: transparent;
        color: $button-negative-color;
        border-color: $button-negative-color;
        box-shadow: inset 0 0 0 1px $button-negative-color;

        &:after {
            background: $button-negative-color;
        }

        &:hover {
            color: $button-background;
        }
    }

    .btn__arrow {
        display: block;
        align-self: center;
        height: 1em;
        margin-left: 20px;
    }

    .btn:hover .btn__arrow {
        animation: animate-arrow-right 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    }

    .btn--split {
        padding-right: $button-medium-height + $button-icon-spacing;
    }

    .btn__icon {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: $button-medium-height;

        &:before {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            background: currentColor;
            opacity: .5;
            top: 0;
            left: 0;
        }

        svg {
            width: 16px;
            height: 16px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
