/*
    Basics / Wrapper
 */

/*
    Mixins
 */
@mixin make-unwrap-margins($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
    @each $breakpoint, $container-max-width in $max-widths {
        @include media-breakpoint-up($breakpoint, $breakpoints) {
            $w: $container-max-width - (map-get($grid-gutter-widths, $breakpoint) / 2);
            margin-left: calc((-100vw + #{$w}) / 2);
            margin-right: calc((-100vw + #{$w}) / 2);
            width: 100vw;
            max-width: none;
        }
    }
}

/*
    Styles
 */

@mixin basics-wrapper-styles {
    .unwrap {
        @include make-unwrap-margins();
    }
}
